	#page_manager_table { }
	#page_manager_table .cp_lapeb { padding-left:5px; FONT-WEIGHT: bold; COLOR: Black }
	/*#page_manager_table TD { BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; COLOR: navy; BORDER-BOTTOM: white 1px solid }*/
	.pm_panels{ BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid }
	.panel_toggle{font-size:13pt;font-family:Arial;}
