/*
  xTabPanelGroup Demo
  default css
*/

.tabPanelGroup {
  margin:10px; padding:0;
  border:0px;
  width:100%;
  height:350px;
}
.tabPanel {
  margin:0; padding:10px;
  color:#000; 
  background:transparent;
  border:1px solid #CFD4E6;
}
.tabGroup {
  margin:0; padding:0; width:inherit;
}
.tabDefault {
	margin:0px 0px 0px 0px; 
	padding:3px 3px 3px 3px;
	background:transparent;
 
	font-size: 12px;

	/*background-color: #DAE9F4;
	color: #2A00DE;*/
	font-weight: bold;
	vertical-align: middle;
	height:inherit;
	float:left;
	border:2px outset;
	cursor:hand;
}
.tabSelected {
  margin:0; 
  padding:2px;
  color:#000; 
	font-size: 12px;

	/*background-color: #DAE9F4;
	color: #2A00DE;*/
	font-weight: bold;
	vertical-align: middle;
  float:left;
  border:2px inset;
}
