/* =============================
   SolpartNavigation menu styles
   ============================= */

.spm_MenuContainer
{
	font-family: Verdana, Helvetica, sans-serif;
	border-collapse: collapse;
}
.spm_MenuBar
{
	height: 22px;
	background-color: #cccccc;
}
.spm_MenuBar TD
{
	font-size: 10pt;
	border: none;
	background-color: #cccccc;
}
.spm_MenuBar TD TD
{
	border-left: solid 1px #999999;
}
.spm_SubMenu
{
	border-right-color: #009966;
}
.spm_SubMenu TD
{
	background-color: #cccccc;
	height: 22px;
}
.spm_MenuBreak
{
	height: 0px;
}
.spm_MenuItem
{
	cursor: pointer;
}
.spm_MenuItem TD
{
	height: 22px;
	font-size: 10pt;
	color: #333333;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}
.spm_MenuIcon
{
}
.spm_MenuStyle
{
}
.spm_MenuItemSel
{
	background-color: #999999;
	cursor: pointer;
}
.spm_MenuItemSel TD
{
	color: #ffffff;
	font-size: 10pt;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}
.spm_MenuArrow
{
	font-family: webdings, Fantasy;
	font-size: 10pt;
	cursor: pointer;
}
.spm_RootMenuArrow
{
	font-size: 10pt;
	cursor: pointer;
	font-family: webdings, Fantasy;
}
.spm_DefaultItem
{
	cursor: pointer;
}
.spm_DefaultItem TD
{
	height: 22px;
	font-size: 10pt;
	padding-left: 3px;
	padding-right: 3px;
}
.spm_DefaultItemHighlight
{
}
.spm_DefaultItemHighlight TD
{
}