@import url(MenuHWDropDown.css);
@import url(MenuHWLeft.css);
@import url(MenuSolpart.css);
@import url(TabsSubTabs.css);
@import url(TabControl.css);

/* CSS Control Adapters */
@import url(Menu.css);

/* Standard HTML tags */
BODY{
padding-left:0px;
font-size:120pt;
padding-bottom:0px;
margin:0px;
padding-top:0px;
background-color: White;
padding-right:0px;
}
P{
margin-top:1px;
font-size:10pt;
color:#333333;
padding-top:0px;
font-family:Verdana,Helvetica,sans-serif;
}
/* Important the order:link,visited,hover,focus,active. see http://www.w3.org/TR/REC-CSS2/selector.html  */
A:link{
font-size:10pt;
color:#ee7a35;
text-decoration:none;
}
A:visited{
font-size:10pt;
border-left:none;
color:#ee7a35;
text-decoration:none;
}
A:hover{
color:#999999;
text-decoration:none;
}
A:focus{
color:#999999;
text-decoration:none;
}
A:active{
color:#f9ccb0;
text-decoration:none;
}
DIV{
font-size:10pt;
}
H1{
font-weight:bold;
font-size:15pt;
}
H2{
font-weight:bold;
font-size:14pt;
}
H3{
font-weight:bold;
font-size:13pt;
}
H4{
font-weight:bold;
font-size:12pt;
}
H5{
font-weight:bold;
font-size:11pt;
}
H6{
font-weight:bold;
font-size:10pt;
}
HR{
color:#999999;
height:1pt;
text-align:center;
}
IMG{
border-right:none;
border-top:none;
border-left:none;
border-bottom:none;
}
INPUT.CommandButton{
border-right:#333333 thin solid;
padding-right:3pt;
border-top:#cccccc thin solid;
padding-left:3pt;
font-weight:600;
font-size:8pt;
padding-bottom:3pt;
border-left:#cccccc thin solid;
color:White;
line-height:7pt;
padding-top:3pt;
border-bottom:#333333 thin solid;
font-family:Verdana,Helvetica,sans-serif;
background-color:#999999;
text-decoration:none;
}
INPUT{
font-size:8pt;
font-family:Verdana,Helvetica,sans-serif;
}
TABLE{
height:inherit;
font-size:10pt;
border-top-style:none;
border-right-style:none;
border-left-style:none;
border-bottom-style:none;
}
THEAD{
font-size:10pt;
border-top-style:none;
border-right-style:none;
border-left-style:none;
border-bottom-style:none;
}
TR{
font-size:10pt;
border-top-style:none;
border-right-style:none;
border-left-style:none;
border-bottom-style:none;
}
TH{
font-size:10pt;
vertical-align:baseline;
color:#333333;
border-top-style:none;
border-right-style:none;
border-left-style:none;
border-bottom-style:none;
}
TD{
font-size:10pt;
color:#333333;
font-family:Verdana,Helvetica,sans-serif;
}
TFOOT{
font-size:10pt;
}
TEXTAREA{
font-size:8pt;
font-family:Verdana,Helvetica,sans-serif;
}
OL{
font-size:10pt;
}
UL{
font-size:10pt;
list-style-image:url(img/bulleye.gif);
}
/* Standard Appleseed Classes */
/* Command buttons */
.CommandButton{
font-size:8pt;
font-weight:600;
color:#333333;
font-family:Verdana,Helvetica,sans-serif;
background-color:silver;
text-decoration:none;
white-space:nowrap;
line-height:18pt;
padding-right:5px;
padding-left:5px;
padding-bottom:3px;
padding-top:3px;
border-bottom:#ee7a35 2px solid;
border-left:#f9ccb0 2px solid;
border-top:#f9ccb0 2px solid;
border-right:#ee7a35 2px solid;
display:inline;
}
/* Important the order:link,visited,hover,focus,active. see http://www.w3.org/TR/REC-CSS2/selector.html  */
A.CommandButton:link{
font-size:8pt;
color:#333333;
text-decoration:none;
}
A.CommandButton:visited{
font-size:8pt;
color:#333333;
text-decoration:none;
}
A.CommandButton:hover{
font-size:8pt;
color:White;
text-decoration:none;
}
A.CommandButton:focus{
font-size:8pt;
color:White;
text-decoration:none;
}
A.CommandButton:active{
font-size:8pt;
color:White;
text-decoration:none;
}
.Error /* Error and warning messages */{
color:Red;
}
.Grid_Header,.Grid_Header TD,.Grid_Header TH /* Search Modules */{
background-color:#999999;
font-weight:600;
}
.Grid_Footer{
}
.Grid_Item{
}
.Grid_Item TD A{
font-weight:600;
}
.Grid_AlternatingItem{
background-color:#CCCCCC;
}
.Grid_AlternatingItem TD A{
font-weight:600;
}
.Grid_SelectedItem{
}
.Grid_Pager{
}
.Head /* Add,announcements,articles,blog,ecc ecc */{
font-weight:bold;
font-size:12pt;
color:#999999;
font-family:Verdana,Helvetica,sans-serif;
}
INPUT.NormalTextBox,.NormalTextBox{
font-size:10pt;
font-family:Verdana,Helvetica,sans-serif;
}
SELECT,SELECT.NormalTextBox{
font-size:10pt;
font-family:Verdana,Helvetica,sans-serif;
}
OPTION{
font-size:10pt;
font-family:Verdana,Helvetica,sans-serif;
}
.ItemTitle{
font-weight:bolder;
font-size:10pt;
color:#999999;
}
.ItemDate{
font-size:10pt;
color:#999999;
font-family:Verdana,Helvetica,sans-serif;
}
.Message /* Informative messages */{
font-weight:normal;
font-size:10pt;
color:#ee7a35;
background-color:#ffcc00;
}
.ModuleTitle /* Title of each module */{
font-weight:600;
font-size:10pt;
color:#333333;
line-height:14pt;
font-family:Verdana,Helvetica,sans-serif;
white-space:nowrap;
overflow:hidden;
}
.ModuleTitleAlt /* Title of each module */{
font-weight:600;
font-size:10pt;
color:#333333;
line-height:14pt;
font-family:Verdana,Helvetica,sans-serif;
white-space:nowrap;
overflow:hidden;
}
.Module /* Module */{
padding-right:10px;
padding-left:10px;
padding-bottom:10px;
padding-top:10px;
background-color:White;
}
.ModuleAlt /* Module variant */{
background-color:White;
}
.Normal{
padding-right:0pt;
font-size:10pt;
color:#333333;
font-family:Verdana,Helvetica,sans-serif;
line-height:normal;
letter-spacing:normal;
}
.NormalBold{
padding-left:5pt;
font-weight:bold;
font-size:10pt;
color:#333333;
font-family:Verdana,Helvetica,sans-serif;
}
.NormalItalic{
font-size:10pt;
font-style:italic;
}
/* Styles for default Tabs */
.rb_DefaultLayoutTable
{
    
}
.rb_DefaultPortalHeader{
background-color:#f3a372;
}
.rb_DefaultLayoutDiv
{
    float:left;
}
.rb_DefaultPortalFooter{
}
/* Alternate styles for admin and edit Tabs */
.rb_AlternateLayoutTable{
margin:0px;
padding:0px;
width:100%;
}
.rb_AlternatePortalHeader{
background-color:#f3a372;
}
.rb_AlternateLayoutDiv{
}
.rb_AlternatePortalFooter{
}
.rb_mod_btn /* Buttons support */{
display:block;
margin:0px 0px 0px 2px;
}
.btn-img-txt{
}
.btn-img-only{
}
.btn-img-txt{
overflow:hidden;
}
.btn-img-only-css{
overflow:hidden;
}
DIV.btn-img-only{
display:block;
overflow:hidden;
width:0px;
height:0px;
}
DIV.btn-img-only-css{
display:block;
overflow:hidden;
width:0px;
height:0px;
}
DIV.btn-img-txt{
display:block;
overflow:hidden;
width:0px;
height:0px;
}
DIV.btn-txt-only{
font-size:9pt;
line-height:0.8;
}
.rb_mod_btn{
display:block;
margin:0px 0px 0px 2px;
}
.SiteLink /* Used on Header menu in Layouts */{
font-weight:normal;
font-size:7pt;
color:#ee7a35;
font-family:Verdana,Helvetica,sans-serif;
background-color:#f9ccb0;
text-align:center;
display:block;
padding-bottom:0px;
margin-bottom:0px;
padding-right:4px;
padding-left:4px;
}
/* Important the order:link,visited,hover,focus,active. see http://www.w3.org/TR/REC-CSS2/selector.html  */
.SiteLink A:link{
display:block;
font-size:7pt;
color:#333333;
text-align:center;
text-decoration:none;
}
.SiteLink A:visited{
color:#333333;
font-size:7pt;
}
.SiteLink A:hover{
color:#ee7a35;
font-size:7pt;
}
.SiteLink A:focus{
color:#ee7a35;
font-size:7pt;
}
.SiteLink A:active{
color:#333333;
font-size:7pt;
}
.SiteTitle /* Portal title in Header,in layout file */{
padding-right:0px;
padding-left:10px;
font-weight:bold;
font-size:22pt;
padding-bottom:0px;
color:White;
padding-top:0px;
font-family:Verdana,Helvetica,sans-serif;
text-decoration:none;
}
.SubHead{
font-weight:600;
font-size:10pt;
color:#333333;
padding-top:4px;
font-family:Verdana,Helvetica,sans-serif;
}
.SubSubHead{
margin-top:10pt;
font-weight:600;
font-size:10pt;
color:#ee7a35;
}
/* Three panes */
.LeftPane{
padding-right:0px;
padding-left:10px;
padding-bottom:0px;
margin:0px;
padding-top:10px;
}
.RightPane{
padding-right:10px;
padding-left:0px;
padding-bottom:0px;
margin:0px;
padding-top:10px;
}
.ContentPane{
border-right:none;
padding-right:10px;
border-top:none;
padding-left:10px;
padding-bottom:0px;
margin:0px;
border-left:none;
padding-top:10px;
border-bottom:none;
}
.DefaultBanner1 /* Graphics */{
background-color:#ee7a35;
}
.DefaultBanner2 /* Graphics */{
background-color:#333333;
}
.DefaultTD /* Graphics */{
background-color:#cccccc;
}
.DefaultTDSub /* Graphics */{
background-color:#999999;
}
/* The Date Element in the Header */
.dateCurrent{
padding-right:4px;
font-size:7pt;
line-height:7pt;
}
/* The Last Visit Element in the Header */
.dateLastVisit{
padding-right:4px;
font-size:7pt;
line-height:7pt;
}
