/* Left MenuHW */
.MenuItem{
border-right:White 1px solid;
font-weight:600;
font-size:10pt;
border-left:White 1px solid;
border-bottom:White 1px solid;
font-family:Verdana,Helvetica,sans-serif;
background-color:#cccccc;
}
.MenuItemHi{
border-right:White 1px solid;
border-left:White 1px solid;
border-bottom:White 1px solid;
background-color:#999999;
}
.MenuSub{
border-bottom:White 1px solid;
background-color:#cccccc;
}
.MenuSubHi{
border-bottom:White 1px solid;
background-color:#999999;
}
