/* DropDown HWMenu */
.HWMenuItem{
font-weight:600;
font-size:10pt;
border-bottom:1px White;
font-family:Verdana,Helvetica,sans-serif;
background-color:#cccccc;
}
.HWMenuItemHi{
color:White;
background-color:#999999;
}
.HWMenuSub{
border-bottom:White 1px solid;
background-color:#cccccc;
}
.HWMenuSubHi{
color:White;
border-bottom:White 1px solid;
background-color:#999999;
}
