/* CSS for Survey Module */
.SurveyQuestion{
color:DarkRed;
padding-right:5px;
padding-left:5px;
}
.SurveyPanel{
color:Silver;
background-color:Silver;
}
.SurveyOption{
color:Black;
}
.SurveyButton{
color:DarkRed;
font-weight:bold;
}
