/* CSS for discussion Module */
.discuss_reply_controls{
font-size:8pt;
white-space:nowrap;
background:transparent;
}
.discuss_reply_controls img{
background:transparent;
}
/* Individual Thread */
.discuss_thread{
}
/* Selected Thred */
.discuss_thread_selected{
.border:1px solid Black;
}
.discuss_author{
margin-top:5px;
margin-left:15px;
font-weight:bold;
font-style:italic;
}
/* replies to selected thred */
.discuss_replies{
}
/* Individual reply */
.discuss_reply{
border-left:1px solid Black;
padding-left:4px;
font-weight:normal;
}
.discuss_reply_body{
margin-left:15px;
margin-top:5px;
}
