/* xTabPanelGroup Demo default css */
.tabPanelGroup
{
	margin: 10px;
	padding: 0;
	border: 0px;
	width: 100%;
	height: 450px;
}
.tabPanel
{
	margin: 0;
	padding: 10px;
	color: Black;
	background: whitesmoke;
	border: 1px solid #CFD4E6;
}
.tabGroup
{
	margin: 0;
	padding: 0;
	width: auto;
}
.tabDefault
{
	margin: 0px 0px 0px 0px;
	padding: 3px 3px 3px 3px;
	background: transparent;
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
	height: auto;
	float: left;
    overflow: hidden;
    border: 2px outset;
    cursor: pointer;
    cursor: hand;
}
.tabSelected
{
	margin: 0;
	padding: 2px;
	color: Black;
    font-weight: bold;
    vertical-align: middle;
    float: left;
    border: 2px inset;
    border-bottom: 4px solid whitesmoke;
    background: whitesmoke;
    overflow:hidden;
    cursor: default;
}
